*{
  margin: 0px;
}
img{
  height: 200px;
  width: 200px;
  border: 1px solid;
}
.finalPhoto{
  height: 100px;
  width: 100px;
}
ul{
  display: inline;
  list-style-type: none;
}
li{
  font-size: 15px;
}
.tableRow{
  border: 1px solid;
  display: inline-block;
}
canvas{
  width: 75%;
  min-width: 400px;
}
.chart{
  max-width: 600px;
  max-height: 400px;
}
